<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <main>
                <form class="form-register" action="" enctype="multipart/form-data" method="POST">
                    <% if (locals.errors && errors.firstLogg) { %>
                        <p class="error-msg">
                            <%= errors.firstLogg.msg %>
                        </p>
                        <% } else {%>
                            <h4>Formulario Registro</h4>
                            <% } %>


                                <div class="main-register-from-top-1">
                                    <label for="userImg">Ingrese una foto:</label>
                                    <input type="file" id="userImg" name="userImg" />
                                    <% if (locals.errors && errors.userImg) { %>
                                        <p class="error-msg">
                                            <%= errors.userImg.msg %>
                                        </p>
                                        <% } %>
                                </div>


                                <div class="register-top">
                                    <div class="input-div">
                                        <label class="first-label" for="name">Ingrese su Nombre:</label>
                                        <input class="controls-register" type="text" name="name"
                                            value="<%= locals.old && old.name %> " id="name" />
                                        <% if (locals.errors && errors.name) { %>
                                            <p class="error-msg">
                                                <%= errors.name.msg %>
                                            </p>
                                            <% } %>
                                    </div>
                                    <div class="input-div">
                                        <label for="surname">Ingrese su Apellido:</label>
                                        <input class="controls-register" type="text" name="surname"
                                            value="<%= locals.old && old.surname %> " id="surname" />
                                        <% if (locals.errors && errors.surname) { %>
                                            <p class="error-msg">
                                                <%= errors.surname.msg %>
                                            </p>
                                            <% } %>
                                    </div>


                                </div>

                                <div class="register-middle">
                                    <div class="input-div">
                                        <label for="email">Ingrese su Email:</label>
                                        <input class="controls-register" type="email" name="email"
                                            value="<%= locals.old && old.email %> " id="email" />
                                        <% if (locals.errors && errors.email) { %>
                                            <p class="error-msg">
                                                <%= errors.email.msg %>
                                            </p>
                                            <% } %>
                                    </div>
                                    <div class="age-type">
                                        <div class="input-div">
                                            <label for="email">Ingrese su edad:</label>
                                            <input class="controls-register" type="date" name="email" value="<%= %> "
                                                id="email" />
                                            <% %>
                                                <p class="error-msg">
                                                    <%= %>
                                                </p>
                                                <% %>
                                        </div>
                                        <div class="input-div">
                                            <label for="admin">Tipo de usuario:</label>
                                            <select name="isAdmin" id="admin">
                                                <option value="true">Cliente</option>
                                                <option value="false">Administrador</option>
                                            </select>
                                            <% %>
                                                <p class="error-msg">
                                                    <%= %>
                                                </p>
                                                <% %>
                                        </div>
                                    </div>
                                </div>


                                <div class="register-end">
                                    <div class="input-div">
                                        <label for="password">Ingrese su Contraseña:</label>
                                        <input class="controls-register" type="password" name="password" id="password" />
                                        <% if (locals.errors && errors.password) { %>
                                            <p class="error-msg">
                                                <%= errors.password.msg %>
                                            </p>
                                            <% } %>
                                    </div>

                                    <div class="input-div">
                                        <label for="passwordConfirm">Confirme su Contraseña:</label>
                                        <input class="controls-register" type="password" name="passwordConfirm"
                                            id="passwordConfirm" />
                                        <% if (locals.errors && errors.passwordConfirm) { %>
                                            <p class="error-msg">
                                                <%= errors.passwordConfirm.msg %>
                                            </p>
                                            <% } %>
                                    </div>

                                </div>
                                <!-- <p class="from-register-p">Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p> -->
                               <div class="boton-register">
                                <button class="botons-register" type="submit" value="Registrar">
                                    Registrar
                                </button>
                               </div>
                                <p class="from-register-p">
                                    <a href="/users/loggin">¿Ya tengo Cuenta?</a>
                                </p>
                </form>
            </main>

            <%- include('../partials/footer') %>
    </body>

</html>